<div class="container">
  <p>
    In just 55 minutes you will achieve a full-body workout concentrating on the areas women struggle with the most: hips, thighs, seat, abdominals and arms. The Pure Barre technique is low-impact, protecting your joints by avoiding any bouncing or jumping. Each strength section of the workout is followed by a stretching section in order to create long, lean muscles without bulk. The technique works to defy gravity by tapering everything in and lifting it up!
  </p>
  <p>
    The concentration involved while taking Pure Barre allows you to block "life" out for the hour, creating the mental benefits similarly obtained by the practice of yoga or meditation. A transformed body and a clear head in just one hour—it doesn't get much better than this.
  </p>

</div>
