.jumbotron{
  background-image: url('https://scontent.fsnc1-2.fna.fbcdn.net/v/t31.0-8/14939957_1815594125350419_1334904626001753577_o.jpg?oh=07f3b1c5b41df90f651d455554d10e93&oe=59D2AF6B');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 450px;
}
