h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
}

.employee-detail-photo {
  width: 500px;
  height: auto;
}

.employee-details-text {
  padding: 0 0 0 50px;
  text-align: center;
}

li {
  list-style-type: none;
  font-size: 1.5em;
}

.container{
  padding: 100px;
}
