<div class="container">
  <h3>New Employee</h3>
  <div class="form-group">
    <input #newName class="form-control" placeholder="Name"><br>
    <input #newRole class="form-control" placeholder="Role"><br>
    <textarea #newAboutMe class="form-control" placeholder="Type 'About Section' here"></textarea><br>
    <input #newStrength class="form-control" placeholder="What is this employee's greatest strength?"><br>
    <label>Schedule Preference:</label>
    <select #newSchedulePreference class="form-control">
      <option value="any-time"> </option>
      <option value="morning"> Morning </option>
      <option value="day-time"> Day Time </option>
      <option value="evening"> Evening </option>
    </select><br>
    <input #newImageURL class="form-control" placeholder="Image URL"><br>

    <button class="btn btn-default" (click)="addButtonClicked(newName.value, newRole.value, newAboutMe.value, newStrength.value, newSchedulePreference.value, newImageURL.value); newName.value=''; newRole.value=''; newAboutMe.value=''; newStrength.value=''; newSchedulePreference.value='any-time'; newImageURL.value=''">Add</button>
  </div>
</div>
<hr>

<app-home></app-home>
