<div class="jumbotron">
  <h1>Pure Barre PDX Pearl District</h1>
</div>

<nav class="nav navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav nav-pills navbar-right">
      <li role="presentation" class="active"><a routerLink="">Home</a></li>
      <li role="presentation"><a routerLink="/about">About</a></li>
    </ul>
</div>
</nav>

<div class="container">
  <h1>Check Out The Pure Barre Employees Below!</h1>

  <div class="employee-list" *ngFor="let employee of employees | async">
    <div class="employee well">
      <h3>{{employee.name}}</h3>
      <img class="employee-image" src="{{employee.imageURL}}" alt="Employee Profile Image">
      <button class="btn btn-default" (click)="detailButtonClicked(employee)">View Employee Details</button>
    </div>
  </div>
</div>
